<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yuan.dao.ApplyDao">
    <!-- 查询所有申请信息 -->
    <select id="SelectAllApply" resultType="com.example.yuan.pojo.Apply">
        select mname,ename,astart,aend,acomment,aevaluate,fname
        from member,equipment,apply,flag
        where apply.mid = member.mid
        and apply.eid = equipment.eid
        and apply.flag = flag.flag;
    </select>

    <select id="ApplyCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM apply
    </select>

    <select id="SelectByMid" resultType="Apply">
        select *
        from apply
        where mid = #{mid}
    </select>

    <insert id="AddApply" parameterType="com.example.yuan.pojo.Apply">
        insert into apply(astart,aend,acomment,aevaluate,mid,eid,aid,flag)
        values(#{astart},#{aend},#{acomment},#{aevaluate},#{mid},#{eid},#{aid},#{flag})
    </insert>

    <select id="SelectByAid" resultType="com.example.yuan.pojo.Apply">
        select *
        from apply
        where aid=#{aid}
    </select>

    <update id="updateApply" parameterType="java.lang.Override">
        update apply
        set acomment=#{acomment}
        where aid=#{aid}
    </update>
</mapper>